hr {
  margin: 100px 0px 10px 0px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > :is(input, label) {
  width: 100%;
}

form > input {
  margin-bottom: 15px;
}

form > button {
  margin-top: 10px;
  width: 150px;
}
